# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.local
.env.*.local
!.env.example

# builds
dist/
.next/
out/
build/

# prisma
api/prisma/*.db

# PWA (generado por Serwist)
web/public/sw.js
web/public/sw.js.map
web/public/swe-worker-*.js

# next
web/next-env.d.ts

# logs / os
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# testing
coverage/

# editor
.vscode/
.idea/
